.Account-Button {
    color: white;
    background-color: rgb(30, 30, 30);
    border: 2px gray solid;
    border-radius: 10px;
    font-size: 2em;
    width: 100%;
    height: 50px;
    margin-bottom: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Account-Button:hover {
    background-color: green;
}
