.Toggle-Button {
    color: white;
    background-color: rgb(30, 30, 30);
    border: 2px gray solid;
    border-radius: 10px;
    font-size: 1.5em;
    width: 100%;
    height: 50px;
    margin-bottom: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.Dropdown-List {
    border: 2px white solid;
}

.List-item {
    border: 2px pink solid;
}

.Dropdown {
    border: 1px white solid;
}
