* {
  font-family: Consolas;
}

:root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  text-align: center;
  color: white;
  font-family: Consolas;
}

body {
  background-color: black;
}

.App-header {
  font-size: 3em;
  color: white;
  border-bottom: 2px white solid;
  position: relative;
}

.Header {
  font-size: 2em;
}

.Main-content {
  border: 1px white solid;
  padding: 5%;
  padding-top: 0;
  display: grid;
  grid-template-columns: 26% 3% 77%;
  align-items: top;
  justify-content: center;
}

.Account-bar {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.Account-list {
  overflow: auto;
  width: 20vw;
  /* height: 75vh; */
}

.Items-grid {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.Items-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
